<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> 
  <title>CMM 19</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
 
  <section class="hero is-light">
  <!-- Hero header: will stick at the top -->
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="/assets/images/logo.png">
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
         
          <a class="nav-item ">
            Home
          </a>
          <a class="nav-item">
            Examples
          </a>
          <a class="nav-item">
            Documentation
          </a>
          <span class="nav-item">
            <a class="button is-dark">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>เข้าสู้ระบบ</span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>
  <main>

    <section class="banner">
      <div class="highlight">
        <div class="columns">
          <div class="column highlight-item">
            <div class="has-text-centered">
              <div class="has-text-white-bis">
                <div class="is-size-1">
                  <div class="has-text-weight-light">
                    <div class="has-text-weight-bold">
                      <br>
                        <br>
                          PONLAWAT
                        </br>
                      </br>
                    </div>
                    </div>
                </div>
              </div>
          </div>
        </div>  
      </div>
      <div class="thumbnail">
        <div class="columns">
          </br>
          <div class="column is-paddingless">
          <img src="/assets/images/home/banner/thumbnail-1.jpg" alt="" width="100%"
    height="auto">
          </div>
          
          <div class="column is-paddingless">
          <img src="/assets/images/home/banner/thumbnail-2.jpg" alt="" width="100%"
    height="auto">
          </div>
          
          <div class="column is-paddingless">
          <img src="/assets/images/home/banner/thumbnail-3.jpg" alt="" width="100%"
    height="auto">
          </div>
          
          <div class="column is-paddingless">
          <img src="/assets/images/home/banner/thumbnail-4.jpg" alt="" width="100%"
    height="auto">
          
          </div>
          
        </div>

      </div>
    
    <nav class="navbar is-dark">
  <!-- navbar brand, navbar menu... -->
</nav>
<div class="tabs is-fullwidth">
  <ul>
    <li>
      <a>
        <span class="icon"><i class="fa fa-angle-left"></i></span>
        <span>Left</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon"><i class="fa fa-angle-up"></i></span>
        <span>Up</span>
      </a>
    </li>
    <li>
      <a>
        <span>Right</span>
        <span class="icon"><i class="fa fa-angle-right"></i></span>
      </a>
    </li>
  </ul>
</div>
</section>

</body>
  
</html>